<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/home.css' />
</head>
<body>
    <div class="containerp">
        <div class="box">
            <a href="/usuario/">
                <img src="/imagen/PC3.jpg">
                <div class="capa">
                    <h2>Gestion de Usuarios</h2>
                </div>
            </a>
        </div>
        
        {{!-- <div class="box">
            <a href="/lab/">
                <img src="/imagen/PC5.png">
                <div class="capa">
                    <h2> Gestion de Laboratorio</h2>
                </div>
            </a>
        </div> --}}
        
        <div class="box">
            <a href="/equi/">
                <img src="/imagen/PC6.png">
                <div class="capa">
                    <h2> Gestion Productos</h2>
                </div>
            </a>
        </div>
         <div class="box">
            <a href="/area/">
                <img src="/imagen/PC4.jpg">
                <div class="capa">
                    <h2> Gestion de Areas</h2>
                </div>
            </a>
        </div>
    </div>
</body>
</html>