<div class="container">
    <br>
    
    <form action="/lab/{{data._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT" />
        <div class="form-group">
            <label >Nombre</label>
            <input type="text" class="form-control"  name="name" value="{{data.name}}">
        </div>
        <div class="form-group">
            <label >Capacidad</label>
            <input type="text" class="form-control"  name="capacidad" value="{{data.capacidad}}">
        </div>
        <div class="form-group">
            <label >Observación</label>
            <input type="text" class="form-control" name="observacion" value="{{data.observacion}}">
    
        </div>
<br>
        <button  type="submit" class="btn btn-primary">Aceptar</button>
        <button type="submit"  class="btn btn-danger">Cancelar</button>
    </form>
</div>

