<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>laboratorio Informatica</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<header class="header">
  <div class="containerr">
  <body>

    <header>
        <nav>
            <input type="checkbox" id="ckbox">
            <label for="ckbox" class="drawer">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </label>
            <i>
  <h1>Pescamar</h1>
            </i>
          

            <ul class="menu-box">
                <li><a href="/" class="fa fa-home"> Inicio</a></li>
                <li><a href="/usuario/" class="fa fa-html5">  Personal</a></li>
                {{!-- <li><a href="/lab/" class="fa fa-clock-o">  Laboratorios</a></li> --}}
                <li><a href="/area/" class="fa fa-cloud-download">  Areas</a></li>
                 <li><a href="/equi/" class="fa fa-cloud-download">Productos</a></li>
            </ul>
        </nav>
    </header>

</body>


  </div>
</header>

<body>


  {{{body}}}



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/javascripts/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>
     

  {{!-- <footer id="footer">
    
    <div class="footer-top">
  
      <div class="container">
        
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-links">
            <img src="/imagen/PC2.png"  alt="" class="img-fluid">
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>ULEAM</h3>
            <p>
               <br>
              Arteaga Zambrano Bryan David<br><br>
              <strong>Telefono:</strong> +593 80034395<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" >
            <h4>Categoria</h4>
            <ul>
             <li><i class="bx bx-chevron-right"></i> <a href="/">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/usuario/">Personal</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/lab/">Laboratorio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/area/">Area</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/equi/">Productos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="">Contactanos </a></li>  
         
            </ul>
          </div>

         <div class="col-lg-3 col-md-6 footer-contact">
                   <img src="/imagen/PC.png"  alt="" class="img-fluid">
   
            </p>
          </div>  
        </div>
      </div>
    </div>
 
  
    </div>
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>RGRA</span></strong>.  derechos reservados
      </div>

  </footer><End Footer>   --}}
  


</html>



