<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
 />
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>

<body>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>

<div class="container">
    <br><br>
     <h1 class="text-center"> AGREGAR UN LABORATORIO</h1>
    <form action="/lab/{{data1}}?_method=POST" method="POST">
        <input type="hidden" name="_method" value="POST" />
        <div class="form-group">
            <label >Nombre</label>
            <input type="text" class="form-control"  name="name" value="{{name}}"required>
        </div>
        <div class="form-group">
            <label >Capacidad</label>
            <input type="text" class="form-control"  name="capacidad" value="{{capacidad}}"required>
        </div>
        <div class="form-group">
            <label >Observación</label>
            <input type="text" class="form-control" name="observacion" value="{{observacion}}"required>
    
        </div>
<br>
        <button  type="submit" class="btn btn-secondary">Aceptar</button>
        <td> <a class="btn btn-danger" href="/lab/">cancelar</a></td>
    </form>
    <br>
</div>
