<div class="container">
    <br>
      <h1 class="text-center"> AGREGAR UN PRODUCTOS</h1>
    <form action="/equi/{{data1}}?_method=POST" method="POST">
        <input type="hidden" name="_method" value="POST" />
        <div class="form-group">
            <label >Cantidad</label>
            <input type="text" class="form-control"  name="cantidad" value="{{cantidad}}"required>
        </div>
        <div class="form-group">
            <label >Nombre</label>
            <input type="text" class="form-control"  name="nombre" value="{{nombre}}"required>
        </div>
        <div class="form-group">
            <label >Descripcion</label>
            <input type="text" class="form-control" name="descripcion" value="{{descripcion}}"required>
    
        </div>
<br>
        <button  type="submit" class="btn btn-primary">Aceptar</button>
        <td> <a class="btn btn-primary" href="/equi/">cancelar</a></td>
    </form>
</div>