
/* variables a ser usadas  */
:root {
  --primary:#30bae4;
  --secundary:#0b2341;
  --background:#5e61fce1;
  --black-text:rgb(22, 2, 2);
  --white-text:#0a1a69;
  --blue-gradient:linear-gradient(90deg,#0c0924,#133355);
  --button-hover:#21382ec7;
  --text-shadow:.2rem .2rem .2rem #7c7cbe;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family:  'Georgia';
}

nav {
  background-color: var(--primary);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

  h1 {
  color: var(--white-text);
  font-size: 2rem;
  letter-spacing: .7rem;
  font-family:'Georgia'
}

nav ul {
  display: flex;
}

nav ul li {
  border-right:  1px solid rgba(92, 89, 89, 0.41);
  font-family:  'Georgia'

}

nav ul li:last-child {
  border-right: none;
}
nav ul li a {
  color: var(--white-text);
  font-size: 1.2rem;
  padding: .8rem 1rem;
  text-transform: uppercase;
}

nav ul li a:hover {
  background-color: var(--button-hover);
  transition: all .3s;
  border-bottom: solid .2rem var(--secundary);
}

.drawer {
  font-size: 1rem;
  color: var(--white-text);
  float: left;
  cursor: pointer;
  display: none;
  margin-left: 1rem;
  border: solid 1.5px var(--white-text);
  padding: .2rem;
  border-radius: .1rem;
}

#ckbox {
  display: none;
}

/* media query */

@media (max-width:1039px) {
  nav{
      justify-content: flex-start;
  }
  .drawer{
      display: block;
  }

  nav h1{
      margin-left: 1rem;

  }

  ul {
      position: fixed;
      width: 50%;
      height: 100vh;
      background-color: var(--background);
      top: 10vh;
      left:-100%;
      text-align: left;
      transition: all .5s;
      display: flex;
      flex-direction: column;
      align-content: stretch;
  }

  nav ul li {
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      padding-left: 2rem;
      border-bottom: solid .1rem rgba(201, 196, 196, 0.4);
  }

  #ckbox:checked  ~ .menu-box{
      left:0;
  }
}


@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);
body {
 font-family:Rubik,sans-serif;
 position:relative;
 font-weight:400;
 font-size:15px
}
ul {
 padding:0;
 margin:0
}
li {
 list-style:none
}
a:focus,a:hover {
 text-decoration:none;
 -webkit-transition:.3s ease;
 -o-transition:.3s ease;
 transition:.3s ease
}
a:focus {
 outline:0
}
img {
 max-width:100%
}
p {
 font-size:16px;
 line-height:30px;
 color:#898b96;
 font-weight:300
}
h4 {
 font-family:Rubik,sans-serif;
 margin:0;
 font-weight:400;
 padding:0;
 color:#363940
}
a {
 color:#5867dd
}
.no-padding {
 padding:0!important
}
.go_top {
 line-height:40px;
 cursor:pointer;
 width:40px;
 background:#5867dd;
 color:#fff;
 position:fixed;
 -webkit-box-shadow:0 4px 4px rgba(0,0,0,.1);
 box-shadow:0 4px 4px rgba(0,0,0,.1);
 -webkit-border-radius:50%;
 border-radius:50%;
 right:-webkit-calc((100% - 1140px)/ 2);
 right:calc((100% - 1140px)/ 2);
 z-index:111;
 bottom:80px;
 text-align:center
}
.go_top span {
 display:inline-block
}
.footer-big {
 padding:105px 0 65px 0
}
.footer-big .footer-widget {
 margin-bottom:40px
}
.footer--light {
 background:#e7e8ed
}
.footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
 color:#898b96
}
.footer-menu {
 padding-left:48px
}
.footer-menu ul li a {
 font-size:15px;
 line-height:32px;
 -webkit-transition:.3s;
 -o-transition:.3s;
 transition:.3s
}
.footer-menu ul li a:hover {
 color:#5867dd
}
.footer-menu--1 {
 width:100%
}
.footer-widget-title {
 line-height:42px;
 margin-bottom:10px;
 font-size:18px
}
.mini-footer {
 background:#192027;
 text-align:center;
 padding:32px 0
}
.mini-footer p {
 margin:0;
 line-height:26px;
 font-size:15px;
 color:#999
}
.mini-footer p a {
 color:#5867dd
}
.mini-footer p a:hover {
 color:#34bfa3
}
.widget-about img {
 display:block;
 margin-bottom:30px
}
.widget-about p {
 font-weight:400
}
.widget-about .contact-details {
 margin:30px 0 0 0
}
.widget-about .contact-details li {
 margin-bottom:10px
}
.widget-about .contact-details li:last-child {
 margin-bottom:0
}
.widget-about .contact-details li span {
 padding-right:12px
}
.widget-about .contact-details li a {
 color:#5867dd
}
@media (max-width:991px) {
 .footer-menu {
  padding-left:0
 }
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
  
    }

}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 20px;
  background: #8d8d91;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #f3f5fa;
  text-align: center;
  font-size: 20px;
  color: #2c17f0;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #080808;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: rgb(40, 42, 201);
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(2, 56, 173, 0.06);
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #332d2d;
  color: rgb(53, 11, 133);
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #0723c2;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #e0e0ec
}

#footer .footer-top .footer-contact {
  margin-bottom: 40px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #0c0330e1;
}

#footer .footer-top .footer-contact p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #0c0330e1;
}

#footer .footer-top h4 {
  font-size: 20px;
  font-weight: bold;
  color: #0c0330e1;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #0c0330e1;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color:#0c0330e1;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color:#3448ffe1;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #0c0330e1;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #B64646;
  color: #fff;
  text-decoration: none;
  justify-content: center;
  text-align: center;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #0c0330e1;
  

}

#footer .copyright {
  float: left;
  
  
}


#footer .credits {
  float: right;
  padding-left: .5rem;
  font-size: 33px;
}

#footer .credits a {
  transition: 0.3s;
  text-align: center;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 40px;

  }
}
.card{
  text-align: justify;
  float: none;
  padding-bottom: 15px;
}
